@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    section :nth-child(2) {
        grid-column: span 2;
    }
    
    section :nth-child(3) {
        grid-column: span 3;
    }

    header h1 {
        font-size: 5rem;
      }
      
      h2 {
        font-size: 3rem;
      }
}