/* Small display mobile viewport */

:root {
    --lapis-lazuli: #42608a;
    --jet: #2f2f2f;
    --silver: #bfb5af;
    --beige: #f3fae1;
    --eerie-black: #0f1a12;
    --flame: #ed5d31;
    --turquoise: #40e0d0;
    --gold-metalic: #d9b208;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Nanum Gothic Coding", monospace;
    background-color: var(--beige);
  }
  
  .med-news-card,
  .med-spotlights,
  .med-join-card,
  .med-ribbon-weather-card,
  .ribbon-large {
    display: none;
  }
  
  header,
  nav,
  main,
  .dateAndTime,
  footer,
  .bottom-footer,
  .events1 {
    max-width: 560px;
    margin: 0 auto;
  }
  
  header,
  .bottom-footer {
    background-color: var(--gold-metalic);
  }
  
  footer {
    background-color: var(--lapis-lazuli);
  }
  
  header {
    display: flex;
    padding: 20px 0;
    gap: 5px;
  }
  
  #header-logo {
    width: 60px;
    height: auto;
    border-radius: 36px;
    margin-left: 10px;
  }
  
  .headings1 {
    display: flex;
    flex-direction: column;
    color: var(--eerie-black);
    text-shadow: 0 0 30px var(--lapis-lazuli);
  }
  
  .headings1 h2 {
    font-size: 2.4em;
  }
  
  .social {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .facebook,
  .linkedin {
    width: 22px;
    height: auto;
    border-radius: 360px;
    margin-top: 10px;
  }
  
  .dateAndTime {
    background-color: var(--lapis-lazuli);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--turquoise);
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero .welcome-msg {
    position: absolute;
    top: 45%;
    right: -12%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 27px;
    font-family: "monospace";
    font-weight: bolder;
  }
  
  .hero .join-msg {
    position: absolute;
    top: 75%;
    left: 50%;
    text-align: right;
    font-size: 16px;
    font-family: "monospace";
    font-weight: bolder;
    color: var(--lapis-lazuli);
    background-color: var(--gold-metalic);
    padding: 10px 5px;
    border-radius: 10px;
  }
  
  .ribbon {
    background-color: var(--lapis-lazuli);
    padding: 20px;
    text-align: center;
    margin: 5px 0;
  }
  
  .ribbon h2 {
    padding-bottom: 15px;
    color: var(--gold-metalic);
    text-shadow: 0 0 20px var(--eerie-black);
    font-family: "monospace";
  }
  
  .shack {
    padding-bottom: 20px;
    color: var(--beige);
    font-family: "monospace";
  }
  
  .shack-msg {
    padding-bottom: 10px;
    color: var(--beige);
  }
  
  .info {
    color: var(--gold-metalic);
    text-shadow: 0 0 20px var(--eerie-black);
  }
  
  .weather-card {
    background-color: var(--lapis-lazuli);
    padding: 15px;
    margin: 5px 45px;
  }
  
  .weather-card .flex {
    display: flex;
    align-items: center;
  }
  
  .weather-card .wind,
  .wind-chill {
    padding: 5px;
  }
  
  .news-card {
    background-color: var(--lapis-lazuli);
    margin: 5px 0;
    padding: 10px;
  }
  
  .news-card h2 {
    text-align: center;
    padding: 10px;
    font-family: "monospace";
    color: var(--gold-metalic);
    text-shadow: 0 0 20px var(--eerie-black);
  }
  
  .spotlights {
    margin: 5px 0;
  }
  
  .spotlights img {
    display: block;
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  .first-spot,
  .second-spot {
    background-color: var(--lapis-lazuli);
    border: 1px solid var(--jet);
    text-align: center;
    padding: 10px;
    margin: 2px;
  }
  
  .third-spot,
  .join-card,
  .med-join-card {
    display: none;
  }
  
  .co-name {
    color: var(--gold-metalic);
    font-family: "monospace";
  }
  
  .slogan {
    border-bottom: 1px solid var(--gold-metalic);
    padding-bottom: 15px;
    margin: 15px;
  }
  
  #hamburgerBtn {
    cursor: context-menu;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem 1vw;
    background: transparent;
    border: none;
    font-size: 1.9rem;
    color: var(--eerie-black);
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: var(--eerie-black);
  }
  
  nav ul li a:hover {
    background-color: var(--lapis-lazuli);
    color: var(--beige);
  }
  
  nav ul li.active a {
    background-color: var(--silver);
    color: var(--eerie-black);
  }
  
  .active a:hover {
    color: var(--beige);
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.open {
    display: block;
    margin: 0 auto;
    max-width: 767px;
  }
  
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  #footer-logo {
    display: block;
    width: 98px;
    height: auto;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 10px;
    box-shadow: 0 0 30px var(--lapis-lazuli);
  }
  
  #top-footer {
    padding: 10px;
    margin-top: 25px
  }
  
  
  .footings1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footings1 p {
    padding: 5px;
    text-align: center;
  }
  
  .footings2 p {
    display: block;
    text-align: center;
    padding: 5px;
  }
  
  .location-pin {
    text-decoration: none;
    color: var(--turquoise);
    text-shadow: 0 0 10px var(--beige);
  }
  
  div a {
    text-decoration: none;
  }
  
  .bottom-footer {
    display: block;
    text-align: center;
    border-top: none;
    padding: 10px;
  }
  
  .bottom-footer p:nth-child(2) {
    padding: 10px;
    color: var(--eerie-black);
    text-shadow: 0 0 3px var(--lapis-lazuli);
  }
  
  .images-gallery {
    display: grid;
    padding: 5px;
    gap: 25px;
  }
  
  .gallery p {
    text-align: center;
    padding: 3px;
    color: var(--silver);
  }
  
  .images-gallery img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px var(--eerie-black);
  }
  
  main h2 {
    padding: 20px;
    text-align: center;
  }
  
  .visits {
    display: none;
  }
  
  form fieldset {
    margin: 2rem auto;
    border: thin solid var(--lapis-lazuli);
    border-radius: 10px;
    padding: .5rem 2%;
    width: 96%;
  }
  
  form legend {
    color: var(--lapis-lazuli);
    margin: 0 1rem;
    padding: 0 .5rem;
    text-align: center;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--flame);
    font-size: .8rem;
  }
  
  form label.top input, form label.top select {
    appearance: none;
    display: block;
    font-size: 1rem;
    border: thin solid var(--silver);
    border-radius: 4px;
    padding: .75rem;
    color: var(--jet);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  
  form input.submitBtn {
    border: none;
    background-color: var(--flame);
    color: var(--beige);
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 auto;
    margin-left: 20px;
    width: 100%;
    max-width: 20rem;
  }
  
  .valid-title {
    color: var(--flame);
    margin: 0 60px auto;
    padding: 3px;
    opacity: .5;
    display: none;
  }
  
  form label.checkbox {
    display: flex;
    align-items: center;
    padding: .75rem 0;
    gap: 5px;
    font-size: .7rem;
    color: #555;
  }
  
  .box {
    width: 20px;
    height: 20px;
  }