* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridarea {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
	grid-template-areas:
    "header"
		"nav"
		"main"
		"footer";
}

.grid-container {
  grid-template-columns: 85px 1fr;
  grid-template-rows: 120px 1fr;
}

.icon {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}

.head {
  grid-column-start: 2;
  grid-column-end: span 2;
  text-align: left;
  padding: 40px;
  margin: 10px;
}

.navigclass {
  padding: 2px;
  flex-direction: row;
  align-items: absolute;
}

header {
  display: grid;
  grid-template-columns:  1fr;
  padding: 7px;
  grid-area: header;
  align-items: left;
  background-color: lightgoldenrodyellow;
}

header, nav, main, footer {
	border: 1px solid #9a9595;
  max-width: 100%;
}

.navigation {
  background-color: blue(71, 2, 2, 0.778);
  color: white;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-family: Mulish, sans-serif;
  font-size: 2.5rem;
}

nav {
  background-color:  rgba(71, 2, 2, 0);
  text-emphasis-color: white;

}

#navbutton {
  margin: 02rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0,0,0,0.2)
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.1);
}

nav ul {display: none;}
nav ul.open {display: block;}