/*

:root {
    /*theme
    --font: Arial, Helvetica, sans-serif;
    /* colors
    --primary01: rgb(1, 43, 60);
    --primary02:  #184457;
    --secondary01:  rgb(151, 151, 2);
    /*font
    --font-color: rgb(1, 43, 60);
    --contrast-font-color01: #fff;
    --contrast-font-color02: #c4c4c4;
    --bg--contrast-light-01: #ebebeb;
    /*spacing
    --white-space: 10px;
} */
 

/*
body {
    margin: 0;
    font-family: var(--font);
    min-width: 360px;
    max-width: 1700px;
    margin: 0, auto;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* theme font */
  --font: "Rubik", Arial, 'Trebuchet MS';
  /* theme colors */
  --primary01: rgb(1, 43, 60);
  --primary02: #184457;
  --primary03: #105e70;
  --primary03-opaque: #2624c9;
  --secondary01: #00b5b6;
  --secondary02: #00e5df;
  --warn: #f1a500;
  --warn-opaque: #e49c00;
  /* default border radius */
  --default-border-radius: 4px;
  /* extra colors */
  --font-color: rgb(1, 43, 60);
  --contrast-font-color01: #fff;
  --contrast-font-color02: #c4c4c4;
  --bg--contrast-light-01: #ebebeb;
  /* spacing */
  --white-space: 10px;
}

body {
  margin: 0;
  font-family: var(--font);
  min-width: 360px;
  max-width: 1700px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:visited {
  color: var(--primary03);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button {
  height: 40px;
  min-width: 80px;
  border: none;
  border-radius: var(--default-border-radius);
  background-color: var(--warn);
  color: var(--contrast-font-color01);
  font-size: 1.06em;
  transition-duration: 0.3s;
}

button:hover {
  background-color: var(--warn-opaque);
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: 0 1px #666;
}

hr {
  margin: 0;
}

/*******************/
/* MENU BACKGROUND */
/*******************/
.menu-background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}

/**********/
/* HEADER */
/**********/
header {
  width: calc(100% - var(--white-space) * 2);
  padding: var(--white-space);
  margin-bottom: var(--white-space);
  background-color: rgb(5, 145, 191);
  display: grid;
  grid-template-columns: 1.7fr 0.4fr;
  grid-template-rows: .9fr 0.6fr 0.4fr;
}

.announcement-banner {
  transition: .3s;
  display: none;
  width: calc(100% - var(--white-space) * 2);
  height: auto;
  background-color: var(--secondary01);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .7em;
  grid-column: 1/3;
  margin-bottom: var(--white-space);
  padding: 0 var(--white-space);
  border-radius: var(--default-border-radius);
}

.announcement-banner:hover {
  width: 100%;
  margin-left: calc(var(--white-space) * -1);
}

.announcement-banner p {
  color: var(--font-color);
  font-size: 1.1em;
}

.header-title-wrapper {
  display: flex;
}

.header-logo {
  width: 55px;
  padding: 20px;
}

.header-heading {
  margin: 0;
  font-size: 1.3em;
}

.header-subtitle {
  font-size: 0.7em;
}

.header-title-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: var(--white-space);
  font-size: 1.2em;
}

.header-title-title p {
  margin: 0;
}

header .expanded {
  display: none;
}

.header-social-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-social {
  text-align: right;
  align-self: center;
  min-width: 74px;
  padding-right: var(--white-space);
  padding-top: calc(var(--white-space) / 2);
}

.header-social img {
  transform: rotate(0);
  transition: .3s;
}

.header-social img:first-child:hover {
  transform: rotate(-5deg);
  cursor: pointer;
}

.header-social img:last-child:hover {
  cursor: pointer;
  transform: rotate(5deg);
}

.header-menu {
  position: relative;
  height: 32px;
  width: 32px;
}

/* ↓ menu-button source: https://codepen.io/ainalem/pen/wvKOEMV */
.menu-button {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: auto;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  border: black 1px solid;
  border-radius: var(--default-border-radius);
  z-index: 99;
}

.menu-button:hover {
  background-color: var(--warn);
}

.menu-button svg {
  border-radius: var(--default-border-radius);
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ↑ menu-button source: https://codepen.io/ainalem/pen/wvKOEMV */

.hamburger-menu a {
  position: relative;
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: var(--default-border-radius);
  z-index: 99;
  transition: .3s;
}

.hamburger-menu a:hover {
  background-color: var(--warn);
  color: var(--bg--contrast-light-01);
}

.header-date {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 0.6em;
  background-color: rgb(151, 151, 2);
  color: white;
}

.hamburger-menu {
  display: none;
  position: absolute;
  width: 200px;
  right: -2px;
  background-color: var(--primary01);
  padding: var(--white-space);
  border-radius: var(--default-border-radius);
}

.responsive div {
  display: block;
}

.hamburger-menu {
  z-index: 100;
}

.hamburger-menu ul {
  width: 100%;
  list-style: none;
  text-align: center;
  margin-bottom: calc(var(--white-space) * 4);
  padding: 0;
}

.hamburger-menu ul li {
  height: 100%;
}

.hamburger-menu ul a {
  text-decoration: none;
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  color: var(--contrast-font-color02);
  font-size: 0.8em;
  border-bottom: #191258 solid 1px;
}

.hamburger-menu ul a:first-child {
  border-top: #191258 solid 1px;
}

.center {
  align-self: center;
  justify-self: center;
}

/******************/
/* MAIN HOME-PAGE */
/******************/
.home-main {
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  padding: var(--white-space);
}

.home-main section,
.spotlights-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.home-main section,
.spotlight,
.spotlights-wrapper {
  border-radius: var(--default-border-radius);
  padding: var(--white-space);
  height: 200px;
}

.home-main .hero {
  width: 100%;
  background-color: var(--primary01);
  position: relative;
  z-index: 0;
}

.home-main .hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.home-main .hero-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: calc(var(--white-space) * 1.5);
  box-sizing: border-box;
}

.home-main .hero h2 {
  color: black;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.home-main .hero button {
  align-self: flex-end;
  width: 200px;
}

.home-main .news {
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  text-align: center;
}

.home-main .event {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto 100px auto;
  gap: var(--white-space);
  text-align: center;
}

.home-main .event h2 {
  grid-column: 1/3;
}

.home-main .event button {
  grid-column: 2/3;
  background-color: var(--primary03);
  font-size: 0.8em;
  width: 100%;
  height: 30px;
  align-self: flex-end;
}

.home-main .event button:hover {
  background-color: var(--primary03-opaque);
}

.home-main .news {
  background-color: var(--primary02);
  color: var(--contrast-font-color02);
}

.home-main .news h2 {
  color: var(--contrast-font-color01);
}

.home-main .news p,
.home-main .event p {
  width: 60%;
  font-size: .87em;
  align-self: center;
}

.home-main .event p {
  width: 100%;
  grid-row: 2/4;
}

.home-main .news-separator-wrapper {
  display: flex;
  width: 100%;
  height: 140px;
  gap: var(--white-space);
}

.home-main .news .news-picture-wrapper {
  width: 40%;
}

.home-main .news picture,
.home-main .event picture {
  display: block;
  height: 100%;
}

.home-main .news picture img,
.home-main .event picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--default-border-radius);
}

.home-main .event picture img {
  height: 100%;
}

.home-main .join {
  display: none;
  text-align: center;
}

.home-main .join h2 {
  display: none;
}

.home-main .join button {
  width: 100%;
}

.home-main .spotlights-wrapper {
  height: 400px;
  width: 100%;
}

.home-main .spotlights-wrapper .spotlight {
  height: calc(52.5% - var(--white-space));
  padding: var(--white-space);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border: var(--primary03) 1px solid;
  background-color: var(--bg--contrast-light-01);
  color: var(--font-color);
}

.home-main .spotlights-wrapper .spotlight {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--white-space);
}

.home-main .spotlights-wrapper .spotlight picture:first-child img {
  height: 35px;
  align-self: center;
}

.home-main .spotlights-wrapper .article-separator {
  font-size: 0.70rem;
}

.home-main .spotlights-wrapper hr {
  margin: calc(var(--white-space) / 2);
}

.home-main .spotlights-wrapper .article-small-p {
  font-size: 0.65rem;
}

.home-main .spotlights-wrapper .spotlight picture:nth-child(2) img {
  height: 60px;
}

.home-main .spotlights-wrapper .spotlight:last-child {
  display: none;
}

.home-main .weather {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  max-width: 500px;
  align-self: center;
}

.home-main .weather .weather-separator-01 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--white-space);
}

.home-main .weather .weather-separator-01 p {
  font-size: 3rem;
}

.home-main .weather img {
  width: 90px;
}

.home-main .weather .weather-separator-02 p:first-child {
  text-align: end;
}

.home-main .weather hr {
  margin: calc(var(--white-space) / 2) 0;
}

.home-main .weather-separator-03 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--white-space)
}

.home-main .weather-separator-03 p:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: end;
}

.home-main .weather-separator-03 p:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: end;
}

.home-main .weather-separator-03 p:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: start;
}

.home-main .weather-separator-03 p:last-child {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: start;
}

/******************/
/* MAIN DISCOVER */
/******************/

.discover {
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  padding: var(--white-space);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.discover .demographics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
}

.discover .user-card {
  width: 100%;
  height: 200px;
}

.card-content-wrapper #fname {
  border: 1px var(--contrast-font-color02) solid;
  border-radius: var(--default-border-radius);
  height: 40px;
  width: 320px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  text-align: center;
}

.card-content-wrapper #fname:focus {
  color: var(--contrast-font-color01);
  border-color: var(--primary01);
  background-color: var(--secondary01);
  outline: 3px solid transparent;
}

.card-content-wrapper #fname::placeholder {
  color: var(--contrast-font-color02);
}

.card-content-wrapper #fname:focus::placeholder {
  color: var(--secondary02);
}

.discover .demographics-card,
.discover .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border-radius: var(--default-border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--contrast-font-color01);
}

.discover .card-content-wrapper {
  width: fit-content;
}

.discover-main .demographics-card p {
  color: var(--primary02);
}

.discover .demographics-card p:first-child {
  color: var(--font-color);
  font-size: 0.8rem;
  width: fit-content;
}

.discover .demographics-card p:last-child {
  width: fit-content;
  font-weight: 700;
  font-size: 2.6rem;
}

.discover .photo-card {
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
}

.discover .photo-card {
  border-radius: var(--default-border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: var(--white-space) 0.1px;
  color: var(--font-color);
  background-color: var(--contrast-font-color01);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.location-card {
  border-radius: var(--default-border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  padding: 0;
  position: relative;
  filter: brightness(1);
  transition: 0.3s all ease;
}


.location-card:hover {
  transform: scale(1.01);
  filter: brightness(0.9);
}


.location-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--default-border-radius);
}

.discover .photo-card:nth-child(odd) {
  background-color: var(--primary01);
  color: var(--contrast-font-color02);
}

.discover .photo-card:nth-child(3) a {
  color: var(--contrast-font-color01);
}

.discover .photo-card:nth-child(3) a:visited {
  color: var(--warn);
}

.discover .photo-card h2 {
  margin: var(--white-space);
}

.discover .photo-card p {
  margin: var(--white-space);
  max-width: 700px;
}

.discover .photo-card .left-alg-p {
  text-align: left;
}

.discover .photo-card button {
  font-size: 0.95rem;
  margin: var(--white-space) 0;
  min-width: 160px;
}

.discover .photo-card img[data-image] {
  filter: blur(4px);
  border-radius: 0px 0px;
  width: 100%;
  max-width: 50px;
}

.discover .photo-card img {
  filter: blur(0);
  border-radius: var(--default-border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 550px;
  transition: .5s;
}

/******************/
/* MAIN-DIRECTORY */
/******************/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .display-options {
  margin-top: var(--white-space);
  display: flex;
  gap: var(--white-space);
}

main .display-options button {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .display-options .selected {
  background-color: var(--primary02);
}

.directory-main {
  text-align: center;
  padding: var(--white-space);
  width: 100%;
}

.directory-main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--white-space);
  padding: var(--white-space) 0;
}

.directory-main .card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
  border-radius: var(--default-border-radius);
  padding: var(--white-space);
  transition: 0.35s;
}

.directory-main .card:hover {
  background-color: var(--primary03);
  color: white;
  cursor: pointer;
}

.directory-main .card h2 {
  color: var(--secondary01);
}

.directory-main .card img {
  max-width: 200px;
  max-height: 40px;
}

.directory-main .card p {
  font-size: 0.85rem;
  font-weight: 300;
}

.directory-main .card .membership {
  margin: calc(var(--white-space) / 2);
  font-size: 1.1rem;
  font-weight: 500;
}

.directory-main .card .gold,
.directory-main .list .gold {
  color: #FFD700;
}

.directory-main .card .bronze,
.directory-main .list .bronze {
  color: #cd7f32;
}

.directory-main .card .silver,
.directory-main .list .silver {
  color: #C0C0C0;
}

.directory-main .card .non-profit,
.directory-main .list .non-profit {
  color: #006400;
}

.directory-main .lists .list .hide {
  display: none;
}

.directory-main .lists .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  padding: var(--white-space);
  text-align: left;
  align-items: center;
  border-top: 1px var(--secondary01) solid;
  border-bottom: 1px var(--secondary01) solid;
  transition: .35s;
}

.directory-main .lists .list:nth-child(even) {
  background-color: var(--secondary01);
  color: var(--contrast-font-color01);
}

.directory-main .lists .list:hover {
  background-color: var(--primary03);
  color: white;
  cursor: pointer;
}

.directory-main .lists .list h2 {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
  width: 125px;
  min-width: fit-content;
}

.directory-main .lists .list img {
  max-height: 35px;
  max-width: 120px;
}

.directory-main .lists .list p {
  font-size: 0.9rem;
  white-space: nowrap;
  width: 15%;
  min-width: fit-content;
}

.directory-main .lists .list .phone {
  width: 140px;
}

.directory-main .lists .list .membership {
  width: 180px;
}

/**********/
/* FOOTER */
/**********/
footer {
  margin-top: var(--white-space);
  background-color: #184457;
  color: white;
  padding: 20px;
}

footer p {
  margin: 0;
  font-size: 0.7em;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 90px;
  height: 90px;
  margin: var(--white-space);
}

.footer-address {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-address a {
  transition: .3s;
  border-radius: calc(var(--default-border-radius) / 2);
}

.footer-address a:hover {
  background-color: var(--warn);
}

.footer-address p {
  font-style: italic;
}

.footer-title {
  font-size: 0.9em;
  font-weight: 500;
}

.footer-contact {
  display: flex;
  justify-content: center;
  padding: var(--white-space) 0;
  flex-direction: column;
  gap: calc(var(--white-space) / 2);
  text-align: center;
}

.footer-contact p {
  padding: 2px;
}

footer .footer-contact p a {
  position: relative;
  transition: .3s;
  border-radius: calc(var(--default-border-radius) / 2);
}

footer .footer-contact p a:hover {
  background-color: var(--warn);
}

footer .footer-contact p img {
  position: absolute;
  left: -14px;
  width: 10px;
}

.footer-copyright {
  font-size: 0.9em;
  padding: var(--white-space);
  text-align: center;
}

.footer-copyright hr {
  margin: calc(var(--white-space) / 2) 0;
  border-color: var(--bg--contrast-light-01);
  width: 100%;
}

.footer-copyright p:last-child {
  display: none;
}

#footer2 {
  background-color: rgb(5, 145, 191);
  align-items: center;
  text-align: center;
}