@media only screen and (min-width: 64rem) {
    header {
        padding: 2px 2px;
    }

    header, footer {
        max-width: 100%;
        margin: 0 auto;
    }

    main {
        margin: 0 auto;
    }

    .container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 300px 300px 300px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .hero-img {
        background-color: aquamarine;
        grid-column: 2/4;
        grid-row: 1/4;
        /*margin-top: 50px;*/
    }

    .weather-card {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: antiquewhite;
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem 1rem;
    }

    .ribbon {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: antiquewhite;
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem 1rem;
    }

    .join {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .spot2 {
        grid-column: 5/6;
        grid-row: 1/6;
    }

    .news {
        grid-column: 2/4;
        grid-row: 5/6;
    }

    #hamButton {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    #time {
        text-align: center;
        color: white;
        padding: 4px;
        margin: 5px;
        border-radius: 20px;
        font-weight: bolder;
        background-color: rgb(151, 151, 2);
    }

}