@media only screen and (min-width: 55rem) {

    header, nav, main, footer {
        max-width: 100%;
        margin: 0 auto;
    }

    header {
        gap: 10px;
    }
    
    .page-heading h1 {
        font-size: xx-large;
    }
    
    .page-heading div {
        font-size: small;
    }
}