@media only screen and (min-width: 55rem) {

    header, footer {
        min-width: 100%;
        margin: 0 auto;
    }

    .primaryNav1 {
        display: none;
    }

    nav ul {
        display: flex;
        margin-left: 2vw;
    }

    nav ul li a {
        border: none;
    }

    .page-heading h1 {
        font-size: 1rem;
    }
    
    .page-heading div {
        font-size: large;
    }

    #header-logo {
        width: 100px;
        height: auto;
    }

    .social {
        margin-left: 80px;
        gap: 15px;
    }

    #hamButton {
        display: none;
    }
    
    #navigation {
        flex-direction: row;
    }
    
    #navigation li {
        display: block;
        flex: 1 1 auto;
    }

    #navigation li a {
        text-decoration: none;
    }
    
    #time {
        text-align: center;
        color: white;
        padding: 4px;
        margin: 5px;
        border-radius: 20px;
        font-weight: bolder;
        background
}