@media only screen and (min-width: 651px) {
	:root {
		/* default border radius */
		--default-border-radius: 5px;
	}

	/**********/
	/* HEADER */
	/**********/
	header {
		width: 100%;
		box-sizing: border-box;
		padding: 0;
		margin-top: var(--white-space);
	}

	.announcement-banner p {
		font-size: 1.5em;
	}

	.header-title-wrapper {
		padding-left: var(--white-space);
	}

	.header-social-wrapper {
		padding-right: var(--white-space);
	}

	/******************/
	/* MAIN HOME-PAGE */
	/******************/
	.home-main {
		display: grid;
		grid-template-columns: 1fr 0.35fr;
		grid-template-areas:
			"main-hero main-hero"
			"main-news main-news"
			"main-spotlights main-spotlights"
			"main-join main-join"
		;
		padding: var(--white-space) 0;
	}

	.home-main section,
	.spotlight {
		margin: 0;
	}

	.home-main .hero {
		grid-area: main-hero;
	}

	.home-main .news {
		grid-area: main-news;
	}

	.home-main .spotlights-wrapper {
		grid-area: main-spotlights;
		display: flex;
		flex-direction: row;
		gap: calc(var(--white-space) / 2);
		height: 200px;
	}

	.home-main .spotlights-wrapper .spotlight {
		height: 100%;
		width: 50%;
		border: none;
	}

	.home-main .spotlights-wrapper .spotlight picture:nth-child(2) img {
		height: 55px;
	}
	
	.home-main .join {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-evenly;
		grid-area: main-join;
	}

	.home-main .join p {
		width: 70%;
	}

	/*****************/
	/* MAIN DISCOVER */
	/*****************/

	.discover-main .photo-card img:hover {
		filter: blur(0);
		border-radius: var(--default-border-radius) 35%;
		transition: .2s;
	}

	/**********/
	/* FOOTER */
	/**********/

	footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	footer .footer-wrapper {
		display: flex;
		width: 100%;
		max-width: 477px;
	}

	footer .footer-address {
		padding-left: var(--white-space);
		justify-content: center;
		width: 50%;
		align-content: flex-start;
		align-items: flex-start;
	}

	footer .footer-address p:nth-child(2),
	footer .footer-address p:first-child {
		max-width: 150px;
	}

	footer .footer-contact {
		width: 50%;
		gap: 0;
	}

	.footer-copyright {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0px calc(var(--white-space) * 2);
	}

	footer .footer-copyright p {
		width: 60%;
		display: none;
	}

	footer .footer-copyright p:last-child {
		display: block;
		align-self: center;
	}
}


/*****************/
/* MAIN DISCOVER */
/*****************/
/** media query **/
@media only screen and (min-width: 852px) {

	.discover-main .demographics {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.discover-main .demographics-card {
		width: calc(50% - (var(--white-space) / 2));
	}
}